*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECF2FF;
}

.container{
    border-radius: 32px;
    width: 736px;
    height: 512px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 512px;
    width: 368px;
    border-radius: 32px;
    background-image: linear-gradient(#7755FF, #6943FF, #2F2CE9);
}

.Rdiv{
    margin-top: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #CAC9FF;
    font-size: 24px;
}
.CenterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(#4D21C9, #2521C900, #2521C900);
}
#numb{
    text-align: center;
    color: #FFFFFF;
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
}
#numb2{
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    color: #CAC9FF;
    font-size: 18px;
    font-weight: 700;
}
#Great{
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.txtdiv{
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
}
.pdiv{
    margin-top: 10px;
    font-size: 18px;
    color: #CAC9FF;
    font-weight: 500;
}
.box2{
    height: 512px;
    width: 368px;
    background-color: white;
}
.resultbox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}

.hdiv{
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 368px;
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    line-height: 31.27px;
    margin-top: 30px;
    margin-left: 80px;
}

button{
    border: solid 0.001px;
    border-color: linear-gradient(#7755FF, #6943FF, #2F2CE9) ;
    border-radius: 128px;
    color: white;
    font-size: 18px;
    background-image: linear-gradient(#7755FF, #6943FF, #2F2CE9);   
    width: 288px;
    height: 56px;
    font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    font-weight: 700;  
}

button:hover{
    background-color: #303B59;
    transition: 6s;
}

@media only screen and (max-width: 600px){
    body{
        height: 150vh;
    }
    
    .container{
        margin-top: 10px;
        height: 900px;
        width: 375px;
        display: flex;
        flex-direction: column;
    }

    .box1{
        width: 375px;
        height: 375px;
    }
    .CenterDiv{
        width: 140px;
        height: 140px;
    }
    
}